body {
	background-image: url(https://images.pexels.com/photos/956981/milky-way-starry-sky-night-sky-star-956981.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
	background-size: 100%;
	font-size: 25px;
	color: white;
}

h1	{
	text-align: center;
}

.lista li {
	list-style: square;
	text-transform: uppercase;
}

.lista2 li {
	list-style: georgian inside;
	text-decoration: underline;
}

#green {
	color: green;
}

#blue {
	color: blue;
}

#red {
	color: red;
}

#yellow {
	color: yellow;
}

.menu {
	list-style: georgian inside;
	background-color: white;
	color: black;
	border: 10px solid black;
}

.menu li {
	background-color: grey;
	border-bottom: 1px solid black;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
}

