html, body {
	height: 100%;
	background-color: #1c1c1c; 
	font-family: 'Roboto Condensed', sans-serif;
}

a:hover {
	color: green;
}

header {
	background-color: #000;
	display: flex;
	padding-top: 18px;
	justify-content: space-around;
	flex-flow: row wrap;
}

.child {
	flex-grow: 1;
}

ul {
	list-style-type: none;
	display: flex;
	flex-flow: row wrap;
	width: 400px;
	margin: 0;
	padding: 0;
}

ul li {
	flex-grow: 1;
	text-align: center;
	width: 100px;
}

ul li a {
	text-decoration: none;
	color: #fff;
	font-size: .9em;          /*13PX*/
	text-transform: uppercase;
	font-family: 'Roboto Condensed', sans-serif;
}

header div:nth-child(1) {
	flex-grow: 8;
	width: 125px;
	padding-bottom: 15px;
} 

header div:nth-child(1) img {
	margin-left: 20px;
}

#search {
	border-radius: 10px;
	background: #3a3a3a url(../images/magnify2.png) no-repeat 5px 5px;
	outline: none;
	border: none;
	color: #fff;
	padding:4px 4px 4px 25px;
	display: none;
}

.container {
	padding: 80px;
}

#magnify {
	cursor: pointer;
}

h1, p {
	color: #b2b2b2;
	font-family: 'Roboto Condensed', sans-serif;
}

@media all and (max-width: 800px) {
	.container {
		padding: 40px;
	}

	#search {
		width: 80%;
		margin: 0 auto;
		display: block;
		
	}

	#magnify {
		display: none;
	}
}

@media only screen and (max-width: 542px) {
	header div:nth-child(1){
		margin: 0 auto;
		padding-bottom: 0;
		display: block;
	}

	header {
		flex-direction: column;
		padding-bottom: 15px;
	}
	.child {
		flex-grow: 1;
		text-align: center;
	}

	ul {
		background: #232323;
		width: 100%;
		margin-top: 15px;
	}

	ul li {
		padding: 5px;
		width: 50%;
	}

	header div:nth-child(2) {
		align-self: flex-end;
		width: 22px;
	}

	#search {
		display: block;
		margin: 16px auto 0 auto;
		width: 80%;
	}

	#magnify {
		display: none;
	}

	.container {
		padding: 25px;
	}
}