body{
    background-color: #
    font-family: 'Open Sans', sans-serif;
     }
/*CSS for first element*/
nav.header1{
    width:100%;
    height: 70px;
    background-color: #e6e9ee;
    text-align: center;
    position:relative;
}
nav.header1 a.logo{
    margin-right: 40px;
}
nav.header1 a.menu{
    text-decoration: none;
    text-transform: uppercase;
    color: #656d78;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 700;
    display: inline-block;
    width: 6%;
    position: relative;
    top: -30px;
}
nav.header1 a.menu:hover{
    color: #9fd566;
}
nav.header1 span.copyrights{
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    color: #adb1ba;
    width: 280px;
    display: inline-block;
    position: relative;
    top: -30px;
    margin-left: 40px;
}
/*CSS for second element*/
div.footer{
width: 100%;
height: 280px;
background-color: #434a54;
text-align: center;
}
    div.footer nav.top{
    width: 100%;
    height: 62px;
    }
    nav.top a.logo2{
        margin-right: 40px;
        }

    nav.top a.menu2{
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 700;
    display: inline-block;
    width: 12%;
    position: relative;
    top: -30px;
    }
    nav.top a.menu2:hover{
        color:#9fd566; ;
    }

div.links{
    width: 100%;
    height: 136px;
    text-align: center;
    margin-left: 34%;
    margin-right: 26%;
    }
    div.links ul{
    float: left;
    text-align: left;
    list-style: none;
    color: #949ba5;
    font-size: 12px;
    width: calc(40%/4);
    margin-top:0px;
    position: relative;
    font-family: 'Open Sans', sans-serif;

    }
        div.links ul li{
        line-height: 2;
        }

div.footer span.copyrights{
height: 82px;
display: block;
font-size: 12px;
font-family: 'Open Sans', sans-serif;
color: #adb1ba;
margin-top:20px;
}
/*CSS for third element*/
div.mojito{
    width: 458px;
    height: 344px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 5px #e3e4e8;
}
    div.mojito div.image{
        width: 100%;
        height: 218px;
        background-image: url("../assets/images/mojito.jpg");
    }

    div.mojito div.description{
        width: 100%;
        height:126px ;
        /*margin-top:20px;*/
        /*margin-bottom:27px;*/
    }
    div.mojito div.description div.text{
        width:250px ;
        /*height: 126px;*/
        border-right: 2px solid #eaedf2;
        padding-left: 15px;
        padding-right: 15px;
        font-family: 'Open Sans', sans-serif;
        display: inline-block;
        float: left;
    }
        div.mojito div.description div.text h3{
            color: #8c9099;
            margin-bottom: 10px;
        }
        div.mojito div.description div.text p{
            color: #cfd3de;
            font-size: 12px;
        }
    div.mojito div.download{
        width:178px ;
        height: 126px;
        display: inline;
        float: right;
        margin-top: -119px;
    }
        div.mojito div.download button{
            display: block;
            margin: 0 auto;
            margin-top: 20px;
            text-transform: uppercase;
            color: #ffffff;
            background-color: #a0d569;
            border: none;
            height: 40px;
            width: 140px;
            border-radius:5px ;
        }
        div.mojito div.download table{
            font-size: 12px;
            margin-left: 20px;
            margin-top:15px ;
        }
        div.mojito div.download table tr.first{
            color:#acb2be;
        }
        div.mojito div.download table tr.second{
            color:#737a84;
        }
            div.mojito div.download table td{
                width: 50px;
            }

/*CSS for element 4 */

div.coffee{
    width: 300px;
    height: 350px;
    border-radius: 7px;
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
}
    div.coffee div.image{
        width: 100%;
        height: 194px;
        background-image: url('../assets/images/coffee.jpg');
        border-radius: 7px;
    }

    div.coffee div.description{
        width: 260px;
        padding-left: 20px;
        padding-right: 20px;
    }
        div.coffee div.description h3{
            color:#424b54;
            margin-bottom: 10px;
        }
        div.coffee div.description p{
            color:#b6bdc7;
            font-size: 12px;
            line-height: 1.5;
        }
    div.coffee div.bottom{
        width: 260px;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 12px;
        color:#b6bdc7;
    }
/*css for element 5*/
div.starter{
    background-color: #fff;
    width: 220px;
    height: 320px;
    display: block;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    padding:10px 0px 20px 20px;
    box-shadow: 0 3px 5px #e3e4e8;
    display: inline-block;
}
    div.starter h2{
        font-weight: 300;
        color: #80858b;
        margin-bottom: 0px;
    }
    div.starter p{
        margin-top: 0px;
        color: #fb6e52;
    }
    div.starter ul{
        list-style: none;
        padding-left: 0px;
        line-height: 2.5;
        font-size: 12px;
        color:#636d79 ;
    }
        div.starter ul li:last-child{
            color:#d0d3d8 ;
        }
    div.starter button.choose-plan{
        border: none;
        background-color: #aab2bd;
        color:#fff;
        text-transform: uppercase;
        width: 180px;
        height: 40px;
        padding-top: 15px;
        padding-bottom: 15px;
        text-align: center;
        border-radius: 7px;
        font-weight:bold ;
      }
div.basic{
    border-top: 5px solid #a0d468; ;
    height: 315px;
    position:relative;
}
    div.basic p{
        color: #a0d468;
    }
    div.basic button.choose-plan{
        background-color: #a0d468;
    }
div.pro p{
        color: #7acded;
    }
div.ultra p{
    color: #ac91ee;
}
div.frame div.basic{
    top:5px;
}
/*css element 6*/
div.to-do-list{
    width: 275px;
    height: 322px;
    background-color: #fff;
    border-radius: 7px;
    background-image: url("../assets/images/topborder.jpg");
    background-repeat: no-repeat;
    padding-top: 10px;
    padding-left: 20px;
    font-family: 'Open Sans', sans-serif;
}
div.to-do-list hr{
    margin-left: -20px;
    width: 295px;
    opacity: .5;
}

    div.to-do-list h1{
        font-weight: 300;
        color: #424953;
    }

    div.to-do-list div.frame div{
        padding:10px 0 10px 0;
        font-size: 14px;
        color: #c3c7d0;
    }

/*.roundedTwo input[type=checkbox]:checked{*/
    /*background: #fff;*/
    /*border-radius: 100%;*/
    /*}*/


/*CSS for element 7 */
div.contact{
    width: 580px;
    height: 410px;
    background-color: #fff;
    border-radius: 7px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    font-family: 'Open Sans', sans-serif;
}
    div.contact h2{
        color: #414a53;
        font-weight: 200;

    }
    div.contact p{
        color: #b2b3b5;
        font-size: 12px;
    }
    div.contact label{
        color: #666d77;
        font-size: 12px;
    }
    #name, #email{
        width: 268px;
        height: 40px;
        border-radius: 5px;
        border: 1px solid #d9d9dc;
        padding-left: 10px;
        color: #b7bbc6;
    }
    #message{
        height: 120px;
        border-radius: 5px;
        border: 1px solid #d9d9dc;
        width: 570px;
        color: #b7bbc6;
    }
    div.contact table tr td{
        padding-right: 10px;

    }

    div.contact button{
        float: right;
        border: none;
        background-color: #a0d569;
        color: #fff;
        height: 40px;
        width: 110px;
        border-radius: 7px;
        margin-top: 15px;
        text-transform: uppercase;
        font-weight: bold;
    }
/*css for element 8 */
div.message{
    width: 220px;
    height: 120px;
    background-color: #fff;
    border-radius: 7px;
    text-align: center;
    box-shadow: 0 3px 5px #e3e4e8;
}
    div.message span{
        display: block;
        width: 160px;
        height: 35px;
        font-size: 12px;
        padding-top: 20px;
        margin-left: 32px;
        line-height: 1.2;
        color: #c3c3c3;
    }

    div.message button{
        width: 80px;
        height: 30px;
        border: none;
        border-radius: 7px;
        text-transform: uppercase;
        color: #fff;
        margin-top: 15px;
    }
    div.message button.yes{
        background-color:#ee5567;
    }
    div.message button.no{
        background-color: #cdd1da;
    }
/*CSS for element 9*/
div.green{
    display: inline-block;
    width: 430px;
    height: 38px;
    background-color: #a0d468;
    border-radius: 7px;
    font-size: 12px;
    color: #fff;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 13px;
}
    span.left i{
        font-size: 16px;
        font-weight: 300;
    }
    span.right img{
        float: right;
    }
div.yellow{
    display: inline-block;
    background-color: #ffce55;
}
div.blue{
    background-color: #4fc0e8;
}
div.red{
    background-color: #ed5564;
}

/*css for element 10*/
div.weather{
    width: 180px;
    height: 140px;
    background-color: #4fc0e8;
    border-radius: 5px;
    color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    box-shadow: 0 2px 5px #e3e4e8;
}
    div.weather span.r{
        float: right;
    }
    div.weather div.cloud{
        text-align: center;
        padding-left: 30px;
        padding-bottom: 15px;
    }